body{
  background-image: url('anime.jpg');
  background-attachment: fixed;
  background-position: center;
  text-align: center; 
  background-size: 100% 100%;
  color: white;
  font-size: 20px;
}
h3{
  margin-top: 40px;
}
.gone{
  display: none;
}
.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  box-shadow: 0 2px 8px rgb(39, 39, 39);
  width: 600px;
  height: 800;
  text-align: center;
  background-color: rgba(53, 59, 73, 0.678);
}
